body {
    text-align: center;
    background-color: cyan;
    margin: 0;
    padding-top: 800;

}

h1 {
    color: darkblue;
    font-size: 100px;

}

h2 {
    color: red;


}

.profile {
    width: 400px;
    margin-bottom: 50px;
    border-radius: 50%;


}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;



}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;



}

.links {
    float: left;
    color: cyan;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px
}

.links:hover {
    background-color:yellowgreen;



}

html{
scroll-behavior: smooth;
}
